@import url(./blocks/result/result.css);
@import url(./blocks/summary/summary.css);
@import url(./blocks/button/button.css);

@font-face {
  font-family: "Hanken Grotesk";
  font-weight: 400;
  src: url("assets/fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Hanken Grotesk";
  font-weight: 600;
  src: url("assets/fonts/static/HankenGrotesk-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Hanken Grotesk";
  font-weight: 800;
  src: url("assets/fonts/static/HankenGrotesk-ExtraBold.ttf") format("truetype");
}

:root {
  /* Primary Colors */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Primary Colors Gradients */
  --light-red-10: hsla(0, 100%, 67%, 0.1);
  --orangey-yellow-10: hsla(39, 100%, 56%, 0.1);
  --green-teal-10: hsla(166, 100%, 37%, 0.1);
  --cobalt-blue-10: hsla(234, 85%, 45%, 0.1);

  /* Gradients */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --light-lavender-50: hsla(241, 100%, 89%, 0.5);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --dark-gray-blue-50: hsla(224, 30%, 27%, 0.5);
}

.page {
  margin: 0;
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
}

.attribution {
  margin-top: 24px;
  text-align: center;
}

.page__inner-summary {
  padding: 0 32px;
}

/* Desktop stylesheet  */
@media (min-width: 720px) {
  .page__inner-summary {
    padding-left: 0;
  }

  .page__inner {
    position: absolute;
    width: 650px;
    height: 450px;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    box-shadow: 3px 3px 6px 2px var(--pale-blue);
    border-radius: 30px;
  }

  .attribution {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    text-align: center;
  }
}
